@using KuceZBronksuBLL.Services
@inject LanguageService language
@model IEnumerable<KuceZBronksuBLL.Models.CountedRecipeViewsModel>


@{
    ViewData["Title"] = "CountedRecipeViews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@language.Getkey("Recipe Statistics")</h1>

<a asp-action="AdministratorPanel"><input type="button" value=@language.Getkey("Back") class="btn btn-primary" /></a>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @language.Getkey("Label")
            </th>
            <th>
                @language.Getkey("Number of clicks")
            </th>
            <th>
                @language.Getkey("Number of favourites")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LabelOfRecipe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItel => item.FavouriteCount)
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>