@using KuceZBronksuBLL.Services
@inject LanguageService language
@model IEnumerable<KuceZBronksuBLL.Models.RecipeAddedToFavouriteDTO>

@{
    ViewData["Title"] = "CreateRaportOfRecipesAddedToFavs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@language.Getkey("Favourite Raport")</h1>

<a asp-action="AdministratorPanel"><input type="button" value=@language.Getkey("Back") class="btn btn-primary" /></a>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @language.Getkey("Label")
            </th>
            <th>
                @language.Getkey("Date of add")
            </th>
            <th>
                @language.Getkey("username")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LabelOfRecipe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateWhenClicked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>