@model IEnumerable<KuceZBronksuBLL.Models.UserViewModel>

@{
    ViewData["Title"] = "ShowAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowAllUsers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @foreach(var role in item.Roles)
                {
                @Html.DisplayFor(modelItem => role)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
        </tr>
}
    </tbody>
</table>
