@using KuceZBronksuBLL.Services
@inject LanguageService language
@model IEnumerable<KuceZBronksuBLL.Models.UserViewModel>

@{
    ViewData["Title"] = "ShowAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@language.Getkey("All users")</h1>`

<a asp-action="AdministratorPanel"><input type="button" value=@language.Getkey("Back") class="btn btn-primary" /></a>


<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @language.Getkey("username")
            </th>
            <th>
                @language.Getkey("Email")
            </th>
            <th>
                @language.Getkey("Role")
            </th>
            <th>
                @language.Getkey("Email confirmed")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @foreach(var role in item.Roles)
                {
                @Html.DisplayFor(modelItem => role)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
        </tr>
}
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>