@model IEnumerable<KuceZBronksuBLL.Models.UserViewModel>

@{
    ViewData["Title"] = "ShowAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowAllUsers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<input type="text" id="search" placeholder="Type to search">

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @foreach(var role in item.Roles)
                {
                @Html.DisplayFor(modelItem => role)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
        </tr>
}
    </tbody>
</table>


<script>
    var $rows = $('#myTable tr');
    $('#search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
</script>