@using KuceZBronksuBLL.Models;
@using Microsoft.AspNetCore.Identity
@using KuceZBronksuDAL.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IEnumerable<RecipeViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-0">
            @if (SignInManager.IsSignedIn(User))
            {
                    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><h1>Hello @UserManager.GetUserName(User)!</h1></a>
            }
            else
            {
            <h1 class="fw-bolder">Welcome to our MEAL APP!</h1>
            <p class="lead mb-0">Search for a meal according to your preferences</p>
            }
        </div>
    </div>
</header>
    
    <div class="row">
	<div class="col-lg-8">
        <h2 style="margin-left:20%">Most Viewed Recipes</h2>
            <table id="content" style="margin-left:20%">
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                            <td><div class="item-img-wrap">
                                @if (item.Image.Contains("/")) // Means that its image that someone put URL for.
                                {
                                        <a href="#!"><img class="img-responsive" src="@item.Image" alt="recipe image" /></a>
                                }
                                else
                                {
                                    <img src="/Images/@item.Image" class="img-responsive" alt="recipe image">
                                    //<img src="/Images/rusticapricotjam.jpg" class="img-responsive" alt="beer image">
                                }
                            <div class="card-body">
                                <h2 class="card-title">@item.Label</h2>
                                    <a class="btn btn-primary" id="button-search" asp-action="ShowRecipeDetails" asp-controller="Recipe" asp-route-id="@item.Id">Show details!</a>
                            </div>
                        </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        <div id="pagination" style="margin-left:20%"></div>
        </div>
        <div class="col-lg-4">
            @Html.Partial("~/Views/Shared/_SearchPanel.cshtml", (SearchViewModel)ViewBag.SearchViewModel)
        </div>
    </div>