@model IEnumerable<RecipeViewModel>
@{
    ViewData["Title"] = "Search";
}

<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div></div>
<div>
    @Html.Partial("~/Views/Shared/_SearchPanel.cshtml", (SearchViewModel)ViewBag.SearchViewModel)
</div>
<div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="grid" class="row">
					@foreach (var item in Model)
					{
						<div class="mix col-sm-3 page1 page4 margin30">
							<div class="item-img-wrap ">
								@if (item.Image.Contains("/")) // Means that its image that someone put URL for.
								{
									<img src="@item.Image" class="img-responsive" alt="recipe image">
								}
								else
								{
									<img src="/Images/@item.Image" class="img-responsive" alt="recipe image">
									//<img src="/Images/rusticapricotjam.jpg" class="img-responsive" alt="beer image">
								}
								<h3 class="card-title text-center">@Html.DisplayFor(modelItem => item.Label)</h3>
								<a class="btn btn-primary btn-lg active" asp-action="ShowRecipeDetails" asp-controller="Recipe" asp-route-id="@item.Id">Show details</a>
								<a class="btn btn-primary btn-lg active" asp-action="AddToFavourites" asp-controller="Recipe" asp-route-id="@item.Id">Add to Favourites</a>
								<a class="btn btn-primary btn-lg active" asp-action="Edite" asp-controller="Recipe" asp-route-id="@item.Id">Edit Recipe</a>
								<a class="btn btn-primary btn-lg active" asp-action="DeleteRecipe" asp-controller="Recipe" asp-route-id="@item.Id">Delete Recipe</a>
								<div class="item-img-overlay">
									<a href="#" class="show-image">
										<span></span>
									</a>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
