@model RecipeViewModel
@{
    ViewData["Title"] = "Search";
}
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div class="container">
<h1>Recipe Details</h1>
<div>
    <hr />
        @if (Model.Image.Contains("/")) // Means that its image that someone put URL for.
        {
            <a href="#!"><img class="img-responsive" src="@Model.Image" alt="recipe image" /></a>
        }
        else
        {
            <img src="/Images/@Model.Image" class="img-responsive" alt="recipe image">
            //<img src="/Images/rusticapricotjam.jpg" class="img-responsive" alt="beer image">
        }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calories)
        </dd>
        <dt class="col-sm-2">Meal Type</dt>
        @foreach (var item in Model.MealType)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(m => item)
            </dd>
        }
    </dl>
    <dt class="col-sm-2">Recipe steps</dt>
    <br>
    @foreach (var item in Model.RecipeSteps)
    {
        <dd class="col-sm-10">
            @Html.DisplayFor( m => item)
        </dd>
    }

    <dt class="col-sm-2">Cuisine Type</dt>
    <br>
    @foreach (var item in Model.CuisineType)
    {
        <dd class="col-sm-10">
            @Html.DisplayFor( m => item)
        </dd>
    }
    <dt class="col-sm-2">HealthLabels</dt>
    <br>
    @foreach (var item in Model.HealthLabels)
    {
        <dd class="col-sm-10">
            @Html.DisplayFor( m => item)
        </dd>
    }
    <dt class="col-sm-2">Cautions</dt>
    <br>
    @foreach (var item in Model.Cautions)
    {
        <dd class="col-sm-10">
            @Html.DisplayFor( m => item)
        </dd>
    }
    <dt class="col-sm-2">DietLabels</dt>
    <br>
    @foreach (var item in Model.DietLabels)
    {
        <dd class="col-sm-10">
            @Html.DisplayFor( m => item)
        </dd>
    }
</div>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a class="btn btn-primary btn-lg active" asp-action="Edit" asp-controller="Recipe" asp-route-label="@Model.Label">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>

