@model RecipeViewModel
@{
    ViewData["Title"] = "Search";
}
<style>
	.containerr {
		display: grid;
		grid-template-rows: 50% 30%;
		grid-template-columns: 50% 50%;
		background-color: #fff;
		border-radius: 5px;
		padding: 20px;
		margin: auto;
		max-width: 60%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	h1 {
		font-size: 36px;
		text-align: center;
		margin-top: 30px;
	}
	/*h3 {
		font-size: 22px;
		text-align: center;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
		padding: 20px;
		margin: auto;
		max-width: 20%;
		margin-top: 20px;
		margin-bottom: 20px;
	}*/
	.servingscalories{
		text-align: center;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
		padding: 20px;
		margin: auto;
		max-width: 20%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.center-block {
		margin:auto;
		display: block;
		max-width:40%;2
	}

	img {
		display: block;
		margin: auto;
		max-width: 100%;
		height: auto;
		margin-top: 30px;
	}

	p {
		font-size: 18px;
		margin: 20px 0;
		text-align: center;
	}

	h2 {
		font-size: 24px;
		margin-top: 30px;
	}

	h4 {
		font-size: 18px;
		margin-top: 20px;
	}

	ul, ol {
		font-size: 18px;
		margin: 20px 0;
		padding-left: 40px;
	}

	li {
		margin: 5px 0;
	}

	.caution {
		color: #ff0000;
		font-weight: bold;
		margin-top: 10px;
	}

	.health-labels {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.health-label {
		background-color: #0099ff;
		color: #ffffff;
		font-size: 16px;
		padding: 5px 10px;
		margin: 5px;
		border-radius: 5px;
	}
	.ingredients {
		grid-row: 1;
		grid-column: 2
	}
	.labelandimage{
		grid-row: 1;
		grid-column:1 
	}
	.rest{
		grid-row: 2;
		grid-column: 1 / -1;
	}
</style>
<div class=containerr>
    <div class="labelandimage">
<h1>@Model.Label</h1>
	@if (Model.Image.Contains("/")) // Means that its image that someone put URL for.
	{
		<img src="@Model.Image" class="img-responsive" alt="recipe image">
	}
	else
	{
		<img src="/Images/@Model.Image" class="img-responsive" alt="recipe image">
		//<img src="/Images/rusticapricotjam.jpg" class="img-responsive" alt="beer image">
	}
    </div>
	<div class="ingredients">
<h2>Ingredients</h2>
<ul>
		@foreach(var ingredient in Model.IngredientLines)
		{
			<li>@ingredient</li>
		}
    </ul>
			<div class="center-block">
				<form asp-controller="Recipe" asp-action="ShowRecipeDetails" method="post">
					<label asp-for="Servings" class="h4"></label>
					<input asp-for="Servings" value="@(Model.Servings.ToString("0.#"))" class="form-control" />
					<span asp-validation-for="Servings" class="text-danger"></span>
					@Html.HiddenFor(m => m.Label)
					@Html.HiddenFor(m => m.IngredientLines)
					@Html.HiddenFor(m => m.ShareAs)
					@Html.HiddenFor(m => m.Calories)
					@Html.HiddenFor(m => m.MealType)
					@Html.HiddenFor(m => m.RecipeSteps)
					@Html.HiddenFor(m => m.CuisineType)
					@Html.HiddenFor(m => m.Image)
					<br />
				</form>
            <h4>Calories/Serving: @(Math.Round(Model.Calories / Model.Servings))</h4>
			</div>
	</div>
	<div class="rest">
<h2>Instructions</h2>
<ol>
	<li>Step 1</li>
	<li>Step 2</li>
	<li>Step 3</li>
	<li>Step 4</li>
</ol>
@foreach(var caution in Model.Cautions)
	{
	<p class="caution">This recipe contains @caution</p>
	}
<h2>Health Labels</h2>
<div class="health-labels">
	@foreach(var healthlabel in Model.HealthLabels)
		{
		<span class="health-label">@healthlabel</span>
		}
</div>
</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-xl-5 recipeCard">
			<div class="myDetailCardTitle">
				<h3>@Model.Label</h3>
			</div>
				@if (Model.Image.Contains("/")) // Means that its image that someone put URL for.
				{
					<img src="@Model.Image" class="img-responsive-details" alt="recipe image">
				}
				else
				{
					<img src="/Images/@Model.Image" class="img-responsive-details" alt="recipe image">
					//<img src="/Images/rusticapricotjam.jpg" class="img-responsive" alt="beer image">
				}
		</div>
		<div class="col-xl-7 recipeCard">
			<div class="ingridients-title">
				<h3>Ingridients: </h3>
			</div>
			<ul>
				@foreach (var ingredient in Model.IngredientLines)
				{
					<li>@ingredient</li>
				}
			</ul>
		</div>
	</div>
</div>
<div class="center-block">
	<form asp-controller="Recipe" asp-action="ShowRecipeDetails" method="post">
		<label asp-for="Servings" class="h4"></label>
		<input asp-for="Servings" value="@(Model.Servings.ToString("0.#"))" class="form-control" />
		<span asp-validation-for="Servings" class="text-danger"></span>
		@Html.HiddenFor(m => m.Label)
		@Html.HiddenFor(m => m.IngredientLines)
		@Html.HiddenFor(m => m.ShareAs)
		@Html.HiddenFor(m => m.Calories)
		@Html.HiddenFor(m => m.MealType)
		@Html.HiddenFor(m => m.RecipeSteps)
		@Html.HiddenFor(m => m.CuisineType)
		@Html.HiddenFor(m => m.Image)
		<br />
	</form>
	<h4>Calories/Serving: @(Math.Round(Model.Calories / Model.Servings))</h4>
</div>
