@model KuceZBronksuWEB.Models.RecipiesViewModel
<div>
    @Html.Partial("~/Views/Shared/_SearchPanel.cshtml", Model.Search)


</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipies.First().Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipies.First().IngredientLines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipies.First().MealType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipies.First().Calories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                    @foreach (var ingredient in item.IngredientLines)
                    {
                        @Html.DisplayFor(modelItem => ingredient)
                        <br/>
                    }
                 
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealType)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                    <a class="btn btn-primary btn-lg active" asp-action="ShowRecipeDetails" asp-controller="Recipe" asp-route-label="@item.Label">
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
